@import "tailwindcss";

main{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utility Classes */
@layer utilities {
  @media only screen and (max-width: 768px) {
    .about-mobile-border {
  border: 2px solid #7c3aed;
      padding: 1rem;
      border-radius: 8px;
      background-color: #f0f8ff;
    }
  }
}

/* Mobile & Tablet Styles (up to 768px) */
@media only screen and (max-width: 768px) {
  #container {
    padding: 1rem;
  border: 2px solid #7c3aed;
    border-radius: 8px;
    margin-right: 12px;
    width: 90vw;
  }

  #heading {
    font-size: 1.75rem;
    text-align: center;
    font-weight: bold;
  }

  #wrapper {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  #profile-img,
  #profile-img img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #about-text {
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: justify;
    color: #999999;
    padding: 0.01rem; 
  }

  #about-text p {
    display: block;
  }

  #paragraph-4 {
    display: none; 
  }
}

/* Desktop Styles (above 768px) */
@media only screen and (min-width: 769px) {

  #container {
    padding: 2rem;
  border: 2px solid #7c3aed;
    border-radius: 12px;
  }

  #heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    padding: 3px auto;
  }

  #wrapper {
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
  }

  #profile-img,
  #profile-img img {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  }

  #about-text {
    font-size: 1.125rem;
    line-height: 2rem;
    text-align: left;
    color: #d7d7d7;
  }

  #about-text p {
    display: block;
  }
}

